body {
  background-color: #2D3142;
  margin: 0px;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

#scroll	{
  top: 0px;
	width: 100%;
	height: 100%;
	background-image: url(city.jpg);
	background-position: 0px 0px;
	background-repeat: repeat-x;
  background-size: cover;
	animation: animatedBackground 40s linear infinite;
  position:fixed;
  overflow: hidden;
  z-index: -1;
}

.timebox {
  top: 20%;
  position: fixed;
  color: #2d3142;
  font-family: 'BigBottomCartoonRegular';
  font-weight: normal;
  font-style: normal;
  letter-spacing: 1px;
  text-align: center;
  height: 70%;
  font-size: 80px;
  width: 100%;
}

.buttonbox {
  top: 70%;
  position:absolute;
  left:50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

button {
	-moz-box-shadow: 0px 10px 14px -7px #b0d8ff;
	-webkit-box-shadow: 0px 10px 14px -7px #b0d8ff;
	box-shadow: 0px 10px 14px -7px #b0d8ff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bebdc7), color-stop(1, #adacb5));
	background:-moz-linear-gradient(top, #bebdc7 5%, #adacb5 100%);
	background:-webkit-linear-gradient(top, #bebdc7 5%, #adacb5 100%);
	background:-o-linear-gradient(top, #bebdc7 5%, #adacb5 100%);
	background:-ms-linear-gradient(top, #bebdc7 5%, #adacb5 100%);
	background:linear-gradient(to bottom, #bebdc7 5%, #adacb5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bebdc7', endColorstr='#adacb5',GradientType=0);
	background-color:#bebdc7;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#2d3142;
	font-family: 'BigBottomCartoonRegular';
	font-size:20px;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #adacb5), color-stop(1, #bebdc7));
	background:-moz-linear-gradient(top, #adacb5 5%, #bebdc7 100%);
	background:-webkit-linear-gradient(top, #adacb5 5%, #bebdc7 100%);
	background:-o-linear-gradient(top, #adacb5 5%, #bebdc7 100%);
	background:-ms-linear-gradient(top, #adacb5 5%, #bebdc7 100%);
	background:linear-gradient(to bottom, #adacb5 5%, #bebdc7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#adacb5', endColorstr='#bebdc7',GradientType=0);
	background-color:#adacb5;
}
button:active {
	position:relative;
	top:1px;
}

#fountainTextG{
	width:350px;
	margin:auto;
  bottom: 1px !important;
}

.fountainTextG{
	color:rgb(0,0,0);
	font-family:'BigBottomCartoonRegular';
	font-size:15px;
	text-decoration:none;
	font-weight:normal;
	font-style:normal;
	float:left;
	animation-name:bounce_fountainTextG;
		-o-animation-name:bounce_fountainTextG;
		-ms-animation-name:bounce_fountainTextG;
		-webkit-animation-name:bounce_fountainTextG;
		-moz-animation-name:bounce_fountainTextG;
	animation-duration:2.09s;
		-o-animation-duration:2.09s;
		-ms-animation-duration:2.09s;
		-webkit-animation-duration:2.09s;
		-moz-animation-duration:2.09s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.5);
		-o-transform:scale(.5);
		-ms-transform:scale(.5);
		-webkit-transform:scale(.5);
		-moz-transform:scale(.5);
}#fountainTextG_1{
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}
#fountainTextG_2{
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}
#fountainTextG_3{
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}
#fountainTextG_4{
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}
#fountainTextG_5{
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}
#fountainTextG_6{
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}
#fountainTextG_7{
	animation-delay:1.64s;
		-o-animation-delay:1.64s;
		-ms-animation-delay:1.64s;
		-webkit-animation-delay:1.64s;
		-moz-animation-delay:1.64s;
}
#fountainTextG_8{
	animation-delay:1.79s;
		-o-animation-delay:1.79s;
		-ms-animation-delay:1.79s;
		-webkit-animation-delay:1.79s;
		-moz-animation-delay:1.79s;
}
#fountainTextG_9{
	animation-delay:1.94s;
		-o-animation-delay:1.94s;
		-ms-animation-delay:1.94s;
		-webkit-animation-delay:1.94s;
		-moz-animation-delay:1.94s;
}
#fountainTextG_10{
	animation-delay:2.09s;
		-o-animation-delay:2.09s;
		-ms-animation-delay:2.09s;
		-webkit-animation-delay:2.09s;
		-moz-animation-delay:2.09s;
}
#fountainTextG_11{
	animation-delay:2.24s;
		-o-animation-delay:2.24s;
		-ms-animation-delay:2.24s;
		-webkit-animation-delay:2.24s;
		-moz-animation-delay:2.24s;
}
#fountainTextG_12{
	animation-delay:2.39s;
		-o-animation-delay:2.39s;
		-ms-animation-delay:2.39s;
		-webkit-animation-delay:2.39s;
		-moz-animation-delay:2.39s;
}
#fountainTextG_13{
	animation-delay:2.54s;
		-o-animation-delay:2.54s;
		-ms-animation-delay:2.54s;
		-webkit-animation-delay:2.54s;
		-moz-animation-delay:2.54s;
}
#fountainTextG_14{
	animation-delay:2.69s;
		-o-animation-delay:2.69s;
		-ms-animation-delay:2.69s;
		-webkit-animation-delay:2.69s;
		-moz-animation-delay:2.69s;
}
#fountainTextG_15{
	animation-delay:2.84s;
		-o-animation-delay:2.84s;
		-ms-animation-delay:2.84s;
		-webkit-animation-delay:2.84s;
		-moz-animation-delay:2.84s;
}
#fountainTextG_16{
	animation-delay:2.99s;
		-o-animation-delay:2.99s;
		-ms-animation-delay:2.99s;
		-webkit-animation-delay:2.99s;
		-moz-animation-delay:2.99s;
}
#fountainTextG_17{
	animation-delay:3.14s;
		-o-animation-delay:3.14s;
		-ms-animation-delay:3.14s;
		-webkit-animation-delay:3.14s;
		-moz-animation-delay:3.14s;
}
#fountainTextG_18{
	animation-delay:3.29s;
		-o-animation-delay:3.29s;
		-ms-animation-delay:3.29s;
		-webkit-animation-delay:3.29s;
		-moz-animation-delay:3.29s;
}
#fountainTextG_19{
	animation-delay:3.44s;
		-o-animation-delay:3.44s;
		-ms-animation-delay:3.44s;
		-webkit-animation-delay:3.44s;
		-moz-animation-delay:3.44s;
}
#fountainTextG_20{
	animation-delay:3.59s;
		-o-animation-delay:3.59s;
		-ms-animation-delay:3.59s;
		-webkit-animation-delay:3.59s;
		-moz-animation-delay:3.59s;
}
#fountainTextG_21{
	animation-delay:3.74s;
		-o-animation-delay:3.74s;
		-ms-animation-delay:3.74s;
		-webkit-animation-delay:3.74s;
		-moz-animation-delay:3.74s;
}
#fountainTextG_22{
	animation-delay:3.89s;
		-o-animation-delay:3.89s;
		-ms-animation-delay:3.89s;
		-webkit-animation-delay:3.89s;
		-moz-animation-delay:3.89s;
}
#fountainTextG_23{
	animation-delay:4.04s;
		-o-animation-delay:4.04s;
		-ms-animation-delay:4.04s;
		-webkit-animation-delay:4.04s;
		-moz-animation-delay:4.04s;
}
#fountainTextG_24{
	animation-delay:4.19s;
		-o-animation-delay:4.19s;
		-ms-animation-delay:4.19s;
		-webkit-animation-delay:4.19s;
		-moz-animation-delay:4.19s;
}
#fountainTextG_25{
	animation-delay:4.34s;
		-o-animation-delay:4.34s;
		-ms-animation-delay:4.34s;
		-webkit-animation-delay:4.34s;
		-moz-animation-delay:4.34s;
}
#fountainTextG_26{
	animation-delay:4.49s;
		-o-animation-delay:4.49s;
		-ms-animation-delay:4.49s;
		-webkit-animation-delay:4.49s;
		-moz-animation-delay:4.49s;
}
#fountainTextG_27{
	animation-delay:4.63s;
		-o-animation-delay:4.63s;
		-ms-animation-delay:4.63s;
		-webkit-animation-delay:4.63s;
		-moz-animation-delay:4.63s;
}
#fountainTextG_28{
	animation-delay:4.78s;
		-o-animation-delay:4.78s;
		-ms-animation-delay:4.78s;
		-webkit-animation-delay:4.78s;
		-moz-animation-delay:4.78s;
}
#fountainTextG_29{
	animation-delay:4.93s;
		-o-animation-delay:4.93s;
		-ms-animation-delay:4.93s;
		-webkit-animation-delay:4.93s;
		-moz-animation-delay:4.93s;
}
#fountainTextG_30{
	animation-delay:5.08s;
		-o-animation-delay:5.08s;
		-ms-animation-delay:5.08s;
		-webkit-animation-delay:5.08s;
		-moz-animation-delay:5.08s;
}
#fountainTextG_31{
	animation-delay:5.23s;
		-o-animation-delay:5.23s;
		-ms-animation-delay:5.23s;
		-webkit-animation-delay:5.23s;
		-moz-animation-delay:5.23s;
}
#fountainTextG_32{
	animation-delay:5.38s;
		-o-animation-delay:5.38s;
		-ms-animation-delay:5.38s;
		-webkit-animation-delay:5.38s;
		-moz-animation-delay:5.38s;
}




@keyframes bounce_fountainTextG{
	0%{
		transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_fountainTextG{
	0%{
		-o-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-o-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainTextG{
	0%{
		-ms-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-ms-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainTextG{
	0%{
		-webkit-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-webkit-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainTextG{
	0%{
		-moz-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-moz-transform:scale(.5);
		color:rgb(255,255,255);
	}
}
